<html>
    
    <head>
        <title>My BookStore <%= category ? " | " + category.label : ""  %></title>
    </head>
    
    <body>

        <% if( typeof categories == "object" ) { %>
            <div>
                <% for( let category in categories ) { %>
                    <div>
                        <a href="/<%= category %>"><%= categories[category].label %></a>
                    </div>
                <% } %>
            </div>
        <% } %>
        
        <% if( typeof category == "object" ) { %>
            <div>
                <h2><%= category.label %></h2>
                <h3><%= category.description %></h3>
                <div>
                <% for( let book in books ) { %>
                    <div>
                        <a href="/book/<%= book %>"><%= books[book].title %></a>
                    </div>
                <% } %>
            </div>
            </div>
        <% } %>
        
        <% if( typeof book == "object" ) { %>
            <div>
                <h2><%= book.title %></h2>
                <small><%= isbn %></small>
            </div>
            </div>
        <% } %>   

    <body>
        
</html>